<!DOCTYPE html>
<html lang="en">


<head>
    <script src="../../js/color.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Artorias Tools</title>
</head>

<body>
    <div id="menu">
        <div id="icon-selector">
        </div>
    </div>
    <script src="../../js/menu.js"></script>

    <div id="main-app">

        <script src="../../js/tools/template.js"></script>
    </div>

    <script type="module" src="../../js/renderer.js"></script>
</body>

</html>